.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}
.gpt3__cta-details p{
    color: #0E0E0E;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.gpt3__cta-details h1{
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px; /* 187.5% */
}
.gpt3__cta-btn button{
    border-radius: 40px;
    background: #000;
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding: 0.5rem 3rem;
}
@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }
    .gpt3__cta-btn{
        margin: 2rem 0;
    }
}
@media screen and (max-width: 550px) {
    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}